
<div class="d-flex">
  <div class="col-md-3">
    <mat-card class="details row">
      <img src="assets/images/morty.png" alt="respectivo morty" />
      <img src="assets/images/rick.png" alt="respectivo rick" />
    </mat-card>
  </div>
  <div class="col-md-9">
    <!--<h2>Rick C-137</h2>-->
    <h2>Rick {{dimension}}</h2>
    <p class="mt-4">
      <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
      {{description}}
    </p>

    <div class="mt-4 d-flex" style="justify-content: space-evenly">
      <button mat-raised-button routerLink="/browsing-history/{{idRick}}">Histórico</button>
      <!--<button mat-raised-button>Cadastrar navegação</button>-->
      <button mat-button (click)="openDialog()">Cadastrar navegação</button>
    </div>
  </div>

</div>

